@if (@Model.Count == 0)
{
  <p>No brands added yet</p>
}

<ul>
  @foreach (var brand in @Model)
  {
    <li>
      <a href="/brands/@brand.GetId()">@brand.GetBrand_Name()</a>
      <a href="/brands/add/@brand.GetId()">Add</a>
    </li>
  }
</ul>
<br>
<form action="brands/new" method="post">
  <label for="name">name</label>
  <input id="brand-name" type="text" name="brand-name">
  <button type="submit">add brand</button>
</form>
<br>
<a href="/">Home</a>
<br>
